body{
    font-family: 'Arial', sans-serif;
    margin: 1em;
    background-color: #f0f0f0;
}

.post_title{
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.5em;
}
.post_date{
    font-size: 0.8em;
    color: #666;
    margin-bottom: 1em;
}
.post{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    border-top: 2px solid #b0b0b0;
    padding-top: 1em;
}
.image{
    max-width: max(30vw,400px);
}
